 
.App {
  font-family: "Bebas Neue", cursive ;
  text-align: center;
  
}

body{
  background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='21' height='21' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(141)'%3E%3Crect width='100%25' height='100%25' fill='rgba(254, 235, 200,1)'/%3E%3Cpath d='M-10 20h20v2h-20zM30 20h20v2h-20z' fill='rgba(254, 235, 200,1)'/%3E%3Cpath d='M15 20h10v2h-10zM55 20h10v2h-10z' fill='%23ecc94b'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ")
}

h1 {
  color: #35323e;
  display: block;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  font-size: clamp(3.2rem, 6vw, 4.7rem);
  margin: 1em auto 0.5em auto;
  width: 15ch;
}

.midSection {
  max-width: 75%;
  margin-top: 8em;
  margin-bottom: 8em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.quote {
  line-height: 1.4ch;
  font-weight: 700;
    font-size: 3rem;
    color: #3b4370;
    font-family: "Helvetica", sans-serif;
    text-shadow: 3px 0 #DA0463;
}
@media  screen and (max-width: 435px) {
  .quote {
    text-align: left;
  }
}

.auth {
  text-align: right;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 500;
}

.click {
  width: 200px;
  height: 70px;
  font-size: 36px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(transparent 5%, #FF013C 5%);
  border: 0;
  color: white;
  box-shadow: 6px 6px 0px #00E6F6;
}

.loding {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
}

.footer{
  display: inline-block;
  justify-content: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
p.this{
  font-style: normal;
  font-size: 12px;
}
i{
  padding-left: 15px;
}

#loader {
  height: 5rem;
  display: flex;
  align-items: center;
}

#loader .line {
  margin: 0 0.2rem;
  height: 100%;
  width: 0.3rem;

  background-color:black;
  border-radius: 1rem;

  animation: loading 0.8s linear infinite;
}

#loader .line:nth-child(2) {
  animation-delay: 0.1s;
}

#loader .line:nth-child(3) {
  animation-delay: 0.2s;
}

#loader .line:nth-child(4) {
  animation-delay: 0.3s;
}

#loader .line:nth-child(5) {
  animation-delay: 0.4s;
}

#loader .line:nth-child(6) {
  animation-delay: 0.5s;
}

#loader .line:nth-child(7) {
  animation-delay: 0.6s;
}

#loader .line:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes loading {
  0% {
    height: 0;
  }

  50% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}

